<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p><img class="potrait" src="/img/robot.png"/></p>
    </div

    <p>{{>footer}}</p>
</body>